


.Card-monster {
    background-color: rgb(46, 46, 46);
    padding: 1rem;
    border-radius: 6px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}






.Monster-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.Card-btn{
    padding: 0.5rem;
    border-radius: 4px;
    background: none;
    color: white;
    border: 1px solid white;
}

.Monster-name{
    color: white;
}